<!DOCTYPE html >
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body >

<my-dir your-name="customerName"
        my-amount="credit"
        my-save="save('[来自dir的弹窗]')"
        >
    <my-dir-in></my-dir-in>
    <!--<my-dir-in title="这是inside2"></my-dir-in>-->
    <!--<my-dir-in title="这是inside3"></my-dir-in>-->
    <!--<my-dir-in title="这是inside4"></my-dir-in>-->
</my-dir>
</body>
<script src="js/lib/angular.js" type="text/javascript"></script>
<script type="text/javascript">
    var app = angular.module("app",[]);
    app.directive("myDir", function () {
        return {
            restrict: "ECAM",
            scope: {
                myName: "=yourName",   // name 值传递 （字符串，单向绑定）
                myAmount: "=", // amount 引用传递（双向绑定）
                mySave: "&"    // 保存操作
            },
            template: "<div>" +
            "  {{myName}}: <input ng-model='myAmount'/>" +
            "  <button  ng-click='mySave()'>保存</button>" +
            "</div>",
            replace: true,
            transclude: false,
            controller:["$scope",function($scope){
//                $scope.customerName = "nihao";
            }],
            link: function (scope, element, attrs) {
                scope.myName = "haha";
                //console.log("initial value for name:" + scope.name);
                //console.log("initial value for amount:" + scope.amount);

                element.css("background", "yellow");


                //scope.$watch("amount", function (newVal, oldVal) {
                //    console.log("amount has changed " + oldVal + " >> " + newVal);
                //});
                //
                //
                //scope.$watch("name", function (newVal, oldVal) {
                //    console.log("name has changed " + oldVal + " >> " + newVal);
                //});
            }
        }

    });
//    app.controller("testCtrl",["$scope",function($scope){
//        $scope.customerName = "tahao";
//        $scope.customerName = "ad";
//    }]);

    app.directive("myDirIn", function () {
        return {
            "restrict": "ECAM",
            "transclude": false,
            "scope": {
                t: "@t"
            },
            "replace": true,
            "template": "<div ng-repeat='t1 in sss' ><span ng-click='toClick(t1.title)'>aaa</span></div>",
            "controller": ["$scope", function ($scope) {
                $scope.toClick = function(data){
                    alert(data);
                };
                $scope.sss = [{
                    title: "第一个",
                    age: 10
                },
                    {
                        title: "第二个",
                        age: 11
                    },
                    {
                        title: "第三个",
                        age: 12
                    },
                    {
                        title: "第四个",
                        age: 13
                    }];

            }],
            "controllerAs":"html1Ctrl",

            link: function (scope, ele, attrs) {

            }

        }
    })
</script>
</html>