<div>
    1111111111111
</div>
<input ng-model="query">
<div id="jqTest" ng-click="colChange()">
    <ul ng-repeat="subList in list | filter:query">
        <li>
            {{subList.num}}
        <p>{{subList.name}}</p>
        </li>

    </ul>
</div>


<div my-test width="900" height="800">
    <div my-test-list width="500" height="400">
        <div my-test-list-sub width="100" height="0"></div>
        <div my-test-list-sub width="100" height="0"></div>
        <div my-test-list-sub width="100" height="0"></div>
        <div my-test-list-sub width="100" height="0"></div>
    </div>
</div>


<style>
    .colorChange{
        color:red;
        font-size: 30px;
    }
</style>